<h1>All Tech Support Requests</h1>
<span class="status-change"><%= notice || alert%></span>

<%= form_tag("/requests/search", method: "get") do %>
  <%= label_tag ("Search for:") %>
  <%= text_field_tag :search%>
  <%= submit_tag("Search") %>
<% end %>


<table>
  <tr>
    <th>Request ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th>Message</th>
    <th>Status</th>
  </tr>
  <% @request.each do |request| %>
    <tr>
      <td><%= link_to request.id, request_path(request) %></td>
      <td><%= request.name %></td>
      <td><%= request.email %></td>
      <td><%= request.department %></td>
      <td><%= request.message %></td>
      <td>
        <%= link_to "Update", edit_request_path(request) %> |
        <%= link_to "Delete",
                     request_path(request),
                     method: :delete,
                     data: {confirm: "Are you sure you want to delete the request?"} %>
        <%= button_to request.status, status_update_path(request)  %>
      </td>
    </tr>
  <% end %>
</table>
